In [1]:
import pandas as pd
import numpy as np

In [4]:
df = pd.DataFrame(
    [
        [1, 2, 3],
        [4, 5, 6],
        [7, 8, 9],
        [10, 11, 12],
    ],
    columns = ['A','B','C']
)

df.head(10)

    A   B   C
0   1   2   3
1   4   5   6
2   7   8   9
3  10  11  12

In [9]:
for rowIndex, row in df.iterrows(): #iterate over rows
    #print(df.at[rowIndex,'A'])
    for columnIndex, value in row.items(): #iterate over columns
        print(value, end="\t")
    print()

1	2	3
4	5	6
7	8	9
10	11	12

In [11]:
list_ = [1,2,3,4,5,6,7,8]
np_list = np.array(list_)

for n,value in enumerate(np_list):
    print(n)

0
1
2
3
4
5
6
7

In [12]:
27*300

8100